# Byte-compiled / optimized / DLL files
__pycache__/

# private/legacy files
private/

# backups
*~
*.bak

# documentation - auxiliary files. 
docs/*.aux
docs/*.log
docs/*.out
docs/*.bbl
docs/*.blg

# screen shots for docs
docs/screenshots/

# folder with throwaway test files
test/

# folder with user data
data/*.sqlite*
data/*.ini*
data/pdf/myrefs

