# Byte-compiled / optimized / DLL files
__pycache__/

# private/legacy files
private/

# backups
*~

# documentation - auxiliary files. 
docs/*.aux
docs/*.log
docs/*.out

# screen shots for docs
docs/sreenshots
